.category-buttons {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px; /* 保持原有的间距 */
    margin: 10px 20px 0; /* 减少顶部外边距，移除底部外边距 */
    padding: 10px; /* 保持原有的内边距 */
    background-color: transparent;
}

.category-button {
    padding: 5px 10px; /* 保持原有的内边距 */
    background-color: #F3F3EE;
    color: #333;
    text-decoration: none;
    border-radius: 5px; /* 保持原有的圆角 */
    font-size: 14px; /* 保持原有的字体大小 */
    transition: all 0.3s ease;
    border: 1px solid #ccc;
}

.category-button:hover {
    background-color: #E5E5E0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
    color: #666;
    border-color: #999;
}

/* 调整主要内容区域的上边距 */
main, .main-content {
    margin-top: -20px; /* 根据实际情况调整，使内容上移 */
}

@media (max-width: 768px) {
    .category-buttons {
        display: none;
    }
}